@charset "UTF-8";
/* 开始的头部*/
.topic-color {
  border-bottom: 3px solid #DD137B; }

html, body {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 319px) {
  header .list {
    height: 50px;
    border-bottom: 1px solid #E5E5E5; }
    header .list li {
      box-sizing: border-box;
      text-align: center;
      width: 33.3%;
      height: 50px;
      line-height: 50px;
      font-size: 18px; }

  .red-bag {
    padding: 0 15px; }
    .red-bag .remind {
      height: 50px; }
      .red-bag .remind .remind-public {
        height: 50px;
        line-height: 50px; }
        .red-bag .remind .remind-public > span {
          vertical-align: middle; }
        .red-bag .remind .remind-public .ellipse {
          width: 30px;
          height: 13px;
          background-color: #30CBBD;
          border-radius: 10px;
          display: inline-block; }
          .red-bag .remind .remind-public .ellipse .circle {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #fff; }
        .red-bag .remind .remind-public img {
          height: 15px; }
    .red-bag .bag-structure {
      height: 80px;
      background-color: #FFBD4A;
      position: relative;
      box-shadow: 0px 1px 1px 0px #b05b00; }
      .red-bag .bag-structure .structure-left {
        height: 80px;
        width: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: url("../../../images/red1.png") no-repeat center center;
        background-size: contain; }
      .red-bag .bag-structure .structure-right {
        margin-right: 15px;
        float: right;
        width: 75%;
        height: 80px;
        background-color: #FF4F23;
        border-radius: 60px 0px 0px 60px; } }
@media screen and (min-width: 320px) and (max-width: 375px) {
  header .list {
    height: 50px;
    border-bottom: 1px solid #E5E5E5; }
    header .list li {
      box-sizing: border-box;
      text-align: center;
      width: 33.3%;
      height: 50px;
      line-height: 50px;
      font-size: 18px; }

  .red-bag {
    padding: 0 15px; }
    .red-bag .remind {
      height: 50px; }
      .red-bag .remind .remind-public {
        height: 50px;
        line-height: 50px; }
        .red-bag .remind .remind-public > span {
          vertical-align: middle; }
        .red-bag .remind .remind-public .ellipse {
          width: 30px;
          height: 13px;
          background-color: #30CBBD;
          border-radius: 10px;
          display: inline-block; }
          .red-bag .remind .remind-public .ellipse .circle {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #fff; }
        .red-bag .remind .remind-public img {
          height: 15px; }
    .red-bag .bag-structure {
      height: 100px;
      background-color: #FFBD4A;
      position: relative;
      box-shadow: 0px 1px 1px 0px #b05b00; }
      .red-bag .bag-structure .structure-left {
        height: 100px;
        width: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: url("../../../images/red1.png") no-repeat center center;
        background-size: contain; }
      .red-bag .bag-structure .structure-right {
        margin-right: 15px;
        float: right;
        width: 75%;
        height: 100px;
        background-color: #FF4F23;
        border-radius: 60px 0px 0px 60px; } }
@media screen and (min-width: 375px) and (max-width: 414px) {
  header .list {
    height: 50px;
    border-bottom: 1px solid #E5E5E5; }
    header .list li {
      box-sizing: border-box;
      text-align: center;
      width: 33.3%;
      height: 50px;
      line-height: 50px;
      font-size: 18px; }

  .red-bag {
    padding: 0 15px; }
    .red-bag .remind {
      height: 50px; }
      .red-bag .remind .remind-public {
        height: 50px;
        line-height: 50px; }
        .red-bag .remind .remind-public > span {
          vertical-align: middle; }
        .red-bag .remind .remind-public .ellipse {
          width: 30px;
          height: 13px;
          background-color: #30CBBD;
          border-radius: 10px;
          display: inline-block; }
          .red-bag .remind .remind-public .ellipse .circle {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #fff; }
        .red-bag .remind .remind-public img {
          height: 15px; }
    .red-bag .bag-structure {
      height: 120px;
      background-color: #FFBD4A;
      position: relative;
      box-shadow: 0px 1px 1px 0px #b05b00; }
      .red-bag .bag-structure .structure-left {
        height: 120px;
        width: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: url("../../../images/red1.png") no-repeat center center;
        background-size: contain; }
      .red-bag .bag-structure .structure-right {
        margin-right: 15px;
        float: right;
        width: 75%;
        height: 120px;
        background-color: #FF4F23;
        border-radius: 60px 0px 0px 60px; } }
@media screen and (min-width: 415px) {
  header .list {
    height: 50px;
    border-bottom: 1px solid #E5E5E5; }
    header .list li {
      box-sizing: border-box;
      text-align: center;
      width: 33.3%;
      height: 50px;
      line-height: 50px;
      font-size: 18px; }

  .red-bag {
    padding: 0 15px; }
    .red-bag .remind {
      height: 50px; }
      .red-bag .remind .remind-public {
        height: 50px;
        line-height: 50px; }
        .red-bag .remind .remind-public > span {
          vertical-align: middle; }
        .red-bag .remind .remind-public .ellipse {
          width: 30px;
          height: 13px;
          background-color: #30CBBD;
          border-radius: 10px;
          display: inline-block; }
          .red-bag .remind .remind-public .ellipse .circle {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #fff; }
        .red-bag .remind .remind-public img {
          height: 15px; }
    .red-bag .bag-structure {
      height: 140px;
      background-color: #FFBD4A;
      position: relative;
      box-shadow: 0px 1px 1px 0px #b05b00; }
      .red-bag .bag-structure .structure-left {
        height: 140px;
        width: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: url("../../../images/red1.png") no-repeat center center;
        background-size: contain; }
      .red-bag .bag-structure .structure-right {
        margin-right: 15px;
        float: right;
        width: 75%;
        height: 140px;
        background-color: #FF4F23;
        border-radius: 60px 0px 0px 60px; } }

/*# sourceMappingURL=packet.css.map */
